* {
  font-family: 'Cinzel Decorative', cursive;
}

.mainTitle {
  margin-right: 600px !important;
  font-size: 60px !important;
  color: white;
}

h4 .mainTitle {
  background-color: transparent !important;
}

.navigationRow {
  position: fixed;
  text-align: center !important;
  top: 0;
  width: 100%;
  padding: 3%;
  color: white;
  overflow: hidden;
  font-size: 30px;
}

.main {
  margin-top: 500px;
}

.App {
  background-color: black;
}


.headerimg{
   width: 100vw;
   height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1526456671914-343acf062565?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57760d904c1868da32fbf116732e39d7&auto=format&fit=crop&w=2814&q=80");

  background-size: cover;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.spacer {
  width: 100vw;
  height: 82vh !important;
}

.contact {
  margin-top: 3%;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  background-color: white;
}

.about {
  margin-top: 5%;
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: 5%;
  padding: 5%;
  background-color: black;
  color: white;
}

h3 {
  display: inline-block;
  margin: 5%;
}

li {
  padding: 15px;
  display: inline-block;
  text-align: center !important;
}

.skills {
  margin: 10%;
}

h2 {
  text-align: left;
}

.sing {
  font-weight: bold;
  font-size: 20px;
}

.backgrounBody {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

a {
  color: white !important;
}

.webmapimg {
  width: 100%;
}

*/ .projects {
  margin-top: 15%;
}

#Capstone {
  border-color: aliceblue !important;
  border-style: solid;
  text-align: center;
  width: 500px;
  height: 500px;
}

#anteup {
  border-color: aliceblue;
  border-style: solid;
  text-align: center;
  width: 250px !important;
  height: 250px !important;
}
#anteup:hover{
  background-image: url("https://media.giphy.com/media/q9wOpffm9JxMQ/giphy.gif");
  background-size: cover ;
  justify-content: center;
  background-repeat: no-repeat ;
  display: block;
}

#anteup :hover a {
  color: black !important;

}

#CodeTube {
  border-color: aliceblue;
  border-style: solid;
  text-align: center;
  width: 250px !important;
  height: 250px !important;
}

#Recepi {
  border-color: aliceblue !important;
  border-style: solid;
  text-align: center;
  width: 500px;
  height: 500px;
}
#Recepi:hover{
  background-image: url("https://media.giphy.com/media/v0Jtcw4BAmT0Q/giphy.gif");
  background-size: cover ;
  background-repeat: no-repeat ;
}

#Connect4 {
  border-color: aliceblue;
  border-style: solid;
  text-align: center;
  width: 250px !important;
  height: 250px !important;
}

#Connect4:hover{
  background-image: url("https://media.giphy.com/media/Hw6KtfOH5xKXm/giphy.gif");
  background-size: cover ;
  justify-content: center;
  background-repeat: no-repeat ;
  display: block;
}

#WebMap {
  border-color: aliceblue;
  border-style: solid;
  text-align: center;
  width: 250px !important;
  height: 250px !important;
}

#WebMap:hover{
  background-image: url("https://media.giphy.com/media/xUySTOigOUHucl3rfW/giphy.gif");
  background-size: 100%;
  justify-content: center;
  background-repeat: repeat ;
  display: block;
}
#Connect4 h1 {
  margin-top: 20%;
}

#WebMap h1 {
  margin-top: 20%;
}

#Recepi h1 {
  margin-top: 38%;
}

#Capstone h1 {
  margin-top: 38%;
}

#anteup h1 {
  margin-top: 20%;
}

#CodeTube h1 {
  margin-top: 20%;
}
#CodeTube:hover{
  background-image: url("https://cdn.dribbble.com/users/1369921/screenshots/3699553/yt-new-button-yoodle.gif");
  background-size: cover;
  justify-content: center;
  background-repeat: repeat ;
  display: block;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen img {
  width: 40%;
}

.screen .img {
  width: 38%;
}

.wrapper {
  margin-top: 5% !important;
  position: relative;
  padding-bottom: 35.25%;
  padding-top: 20px;
  height: 0;
  width: 100%;
}

.img1 {
  position: relative;
  top: 0;
  left: 0;
}

.img {
  position: absolute;
  top:8%;
  left: 31%;
  size: 68%;
  padding-bottom: -20px !important;
}

li {
font-family: 'Raleway',
sans-serif;
}

p{
  font-family: 'Raleway',
  sans-serif;
}

.contact a {
    font-family: 'Raleway',
    sans-serif !important
}


